* {
  /* border: 1px solid rgb(0, 0, 0); */
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: rgb(54,57,62);
  --secondary-bg-color: rgb(44, 46, 48);
  --card-color: rgb(66,69,73); 
  --card-hover-color: rgb(101, 105, 110);
  --text-color: white;
}

header {
  margin: 8px;
  padding: 8px;
  text-align: center;
  background-color: var(--secondary-bg-color);
  border: 1px solid black;
  border-radius: 4px;
  color: var(--text-color);
}

.year-button {
  width: auto;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: var(--card-color);
  color: var(--text-color);
}

.year-button:hover {
  background-color: var(--card-hover-color);
}

body {
  font-family: Inter, sans-serif;
  text-align: center;
  background-color: var(--main-bg-color);
}

canvas {
  max-width: 512px;
  max-height: 512px;
  margin-top: 8px;
  padding: 0px;
  background-color: var(--text-color);
  border: 1px solid black;
  border-radius: 4px;
}

.inline-logo {
  display: inline;
  width: 30px;
  vertical-align: middle;
  /* background-color: var(--text-color); */
  border-radius: 50%;
}

.matchup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding: 12px;
  background-color: var(--card-color);
  color: var(--text-color);
  border: 1px solid black;
  border-radius: 5px;
}

.matchup-container:hover {
  background-color: var(--card-hover-color);
}

.result-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.matchup-period-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 8px;
  padding: 8px;
  background-color: var(--secondary-bg-color);
  border: 1px solid black;
  border-radius: 5px;
}

.prevent-highlight-cursor:hover {
  cursor: pointer;
}

.bubble {
  place-self: center;
  margin: 8px;
  padding: 8px;
  width: fit-content;
  background-color: var(--card-color);
  color: var(--text-color);
  border: 1px solid black;
  border-radius: 4px;
}

.badge {
  display: inline;
  cursor: help;
}

footer {
  font-size: x-small;
  margin: 8px;
  padding-bottom: 8px;
  color: var(--text-color);
}

footer a {
  color: var(--text-color);
}

/* Media queries need to be below CSS declarations! */
@media only screen and (min-width: 700px) {
  .result-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1800px) {
  .result-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
