/* * {
  border: 1px solid red;
} */

:root {
  --main-bg-color: rgb(161, 193, 206);
}

header {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 8px;
}

body {
  font-family: Rubik, sans-serif;
  text-align: center;
  background-color: var(--main-bg-color)
}

.team-logo {
  max-width: 10%;
}

hr {
  width: 70%;
  color: rgb(207, 234, 243);
}

.inline-logo {
  display: inline;
  width: 25px;
  vertical-align: middle;
}

.week {
  font-size: 1.5em;
}

.matchup-container {
  margin: 10px;
  background:white;
  border-radius: 5px;
  padding: 8px;
  }