.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.teamName, .score {
  font-weight: 900;
  font-size: 2rem;
}

.logo {
  aspect-ratio: 1 / 1;
  width: 6rem;
  border-radius: 50%;
  border: 1px solid lightslategray;
}
